

<div class="row d-flex p-2  ">

    <div class="img">
        <img class="img-fluid " src="{{product.thumbnail}}" alt="" />
    </div>


    <div class="col-6 product">
        <h2>{{product.title}}</h2>
        <span class="price bg-light-300">{{product.price}}$$$</span>
        <p>{{product.description}}</p>
        <p>{{product.brand}}</p>
        <div class="imgaenho">
            <img class="img-fluid " width="100px" height="600px" src="{{product.images[0]}}"
                alt="{{product.title}}" />
                <img class="img-fluid " width="100px" height="600px" src="{{product.images[1]}}"
                alt="{{product.title}}" />
   
            <img class="img-fluid " width="100px" height="600px" src="{{product.images[2]}}"
                alt="{{product.title}}" />
    
        </div>
        <button>Mua ngay</button>
    </div>




</div>
