
<section class="vh-100" style="background-color: #9A616D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="img col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://i.pinimg.com/736x/0c/3c/25/0c3c25ef6a5fe2f02e3e2b185bcf7cda.jpg"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
                  <div style="display: flex; flex-direction: column;gap: 30px;">
                        <input type="text" class="form-control" placeholder="UserName" formControlName="username">
                        <div *ngIf="!loginform.controls.username?.valid&&(loginform.controls.username?.dirty||loginform.controls.username?.touched)">
                          <pre>Tên đăng nhập trống ! vui lòng nhập lại</pre>
                        </div>

                        <input type="text" class="form-control" placeholder="email" formControlName="email">
                        <div *ngIf="!loginform.controls.email?.valid&&(loginform.controls.email?.dirty||loginform.controls.email?.touched)">
                          <pre>email trống ! vui lòng nhập lại</pre>
                        </div>

                        <input type="password" class="form-control" placeholder="Password" formControlName="password">
                        <div *ngIf="!loginform.controls.password?.valid&&(loginform.controls.password?.dirty||loginform.controls.password?.touched)">
                          <pre >Mật khẩu không nhỏ hơn 6 kí tự</pre>
                        </div>
                        <button class="btn btn-primary" type="submit">Đăng nhập</button>
                        <div class="mess">
                          {{mess}}
                        </div>
                  </div>
              </form> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>